[Desktop Entry]
Name=monero-vanity
GenericName=Address Generator
Comment=Monero Vanity Address Generator GUI/CLI
Exec=monero-vanity
Icon=icon
Type=Application
Categories=Utility
